$container-primary-color: rgba(150, 143, 179, 1);
$container-secondary-color: rgba(255, 255, 255, 1);

$primary-border-radius: 1.563rem;

$button-primary-color: rgba(0, 0, 0, 0.8);
$button-secondary-color: rgba(255, 255, 255, 1);
$button-primary-background-color: rgba(255, 255, 255, 1);
$button-stripe-color-1: rgba(152, 255, 152, 0.8);
$button-stripe-color-2: rgba(100, 149, 237, 0.8);
$button-border: 0.188rem;

$button-group-primary-color: rgba(0, 0, 0, 0.8);
$button-group-primary-accent: rgba(100, 149, 237, 0.8);
$button-group-arrow-border-size: 20px;
$button-group-arrow-width-multiplier: 7.3;

$icon-primary-color: rgba(0, 0, 0, 1);
$icon-color-1: rgba(152, 255, 152, 0.8);
$icon-color-2: rgba(100, 149, 237, 0.8);
$primary-stroke-miterlimit: 10;