$tgl-btn-background-color: $button-color;
$tgl-btn-border-color: $button-background;
$tgl-btn-border-radius: $radii;
$tgl-btn-padding: $padding-xs;
$tgl-btn-label-padding: $padding-sm;
$tgl-btn-span-radius: $radii;
$tgl-btn-span-padding: $padding-xs;
$tgl-btn-span-background-color: $button-background;
$tgl-btn-span-color: $button-color;
$tgl-btn-span-margin: $margin-sm;

.toggleButton {
	@extend %border-box;

	.toggleButtonLabel {
		font-weight: bold;
		padding-right: $tgl-btn-label-padding;

		&::after {
			content: ':';
		}
	}

	& > button {
		background-color: $tgl-btn-background-color;
		border: 2px solid $tgl-btn-border-color;
		border-radius: $tgl-btn-border-radius;
		font-weight: bold;
		padding: $tgl-btn-padding;

		> span {
			border-radius: $tgl-btn-span-radius;
			padding: 3px $tgl-btn-span-padding 2px;
			// without this, the parent button won't receive cursor clicks in Safari or Chrome
			pointer-events: none;

			&:first-child {
				background-color: $tgl-btn-span-background-color;
				color: $tgl-btn-span-color;
				margin-right: $tgl-btn-span-margin;
			}
			&:last-child {
				background-color: $tgl-btn-span-color;
				color: $tgl-btn-span-background-color;
			}
		}
	}

	// second is active
	&.toggle2nd {
		& > button > span {
			&:first-child {
				background-color: $tgl-btn-span-color;
				color: $tgl-btn-span-background-color;
			}
			&:last-child {
				background-color: $tgl-btn-span-background-color;
				color: $tgl-btn-span-color;
			}
		}
	}
}