figure{
  margin: 0;
  img{
    width: 100%;
    height: auto;
    border: 2px solid $primary-color;
  }
  figcaption{
    font-size: 0.75em;
    font-style: italic;
    color: $dark-gray;
    line-height: 1.5em;
  }
}