@import "../global-styles";

.messages {
    display: grid;
    grid-template-rows: 1fr 100px;
    grid-template-areas: 
        'history'
        'input'
}

.history {
    grid-area: history;
}

.input {
    grid-area: input;
}

h2 {
    font-family: $font-family;
    font-weight: 300;
    font-size: 1.25rem;
    color: $primary-color;
}