@import "../global-styles";

.messages {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
    'header'    
    'history'
    'input';
}

.history {
    grid-area: history;
}

.input {
    grid-area: input;
}

h2 {
    grid-area: header;
    font-family: $font-family;
    font-weight: 300;
    font-size: 1.25rem;
    color: $primary-color;
}