$primary-color: rgba(150, 143, 179, 1);
$etienne-color: darken(salmon, 10);
$etienne-radius: 6px;

.button {
	color: white;
    border: none;
    margin: 5px;
	background-color: $etienne-color;
	border-radius: $etienne-radius;
	-webkit-border-radius: $etienne-radius; 
    -moz-border-radius: $etienne-radius; 
}

.card-item {
    margin: 10px auto;
	background-color: $primary-color;
	box-shadow: 1px 2px 3px 1px hsla(0,0,10%, .5);
	padding: 20px 20px 40px 20px;
	max-width: 300px;
}