.copy-grid {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.copy-content {
    max-width: 48rem;
    h3 {
        margin: 1.2rem 0;
        font-size: 2.5rem;
    }
    p {
        font-size: 1.8rem;
    }
}