$react-background: #292c34;
$font-default: 'Oswald', sans-serif;
$font-heading: 'Oswald', sans-serif;
$border-color: #868686;

.main-container {
    padding: 0px;

}


@media only screen and (min-width: 720px) {
  .main-container {
    display: grid;
    grid-template-columns: minmax(350px,20%) auto;
    grid-template-areas:
            "heading heading"
            "sidebar main";
    border: 1px solid $border-color;
  }
}

.heading {
  grid-area: heading;
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
  font-family: $font-heading;
  margin: 0;
  padding: 30px 0px 30px 20px;
  border: 1px solid $border-color;
  background: lighten($react-background, 50);
}

.main {
  grid-area: main;
  background: lighten($react-background, 77);
  padding: 10px;
  min-width :300px;
}

.sidebar{
  grid-area: sidebar;
  padding: 10px;
  min-width: 300px;
}


