doctype html
html(lang='en')
	head
<<<<<<< HEAD
		link(rel="stylesheet" href="/css/project-1/app.css")
=======
		title module-0
		link(rel="stylesheet" href="/css/module-0/app.css")
>>>>>>> 79e0c469d8d2d4c301803ad9a78469454d178c92
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker")
	body
		#app !{app}
		script(src="/js/app.js")
		script(src="//localhost:35729/livereload.js?snipver=1")
