doctype html
html(lang='en')
	head
		title design-patterns
		link(rel="stylesheet" href="/css/design-patterns/app.css")
		link(rel="stylesheet" href="https://use.typekit.net/cvj1efn.css")
	body
		#app !{app}
		script(src="/js/app.js")
		script(src="//localhost:35729/livereload.js?snipver=1")
