doctype html
html(lang='en')
	head
		title design-patterns
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora|Roboto:400,700")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="/css/design-patterns/app.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		#app !{app}
		script(src="/js/app.js")
		script(src="//localhost:35729/livereload.js?snipver=1")
