@import "./global-vars";

button {
	color: $foreground-color;
	background-color: $primary-color;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 800;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 6px 16px;
    text-transform: uppercase;
}