@font-face {
    font-family: 'Got';
    src: url('https://res.cloudinary.com/mattkim/raw/upload/v1555247722/gamefont_w3c4iv.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

$foreground-color: #eab64d;
$primary-color: #dfcbce;
$background-color: #2b0507;
$medium-width: 750px;
$small-width: 400px;
$font-family: Got;

