////////////////////////
/*     RESET         */
///////////////////////

body{
  margin: 0;
  padding: 0;
}

////////////////////////
/*  PLACEHOLDERS      */
///////////////////////
%grid-padding {
  padding: 25px;
}

%button-padding {
  padding: 15px;
}

%message-padding {
  padding: 15px 15px 25px 15px;
}

////////////////////////
/*   DEFAULT THEME   */
///////////////////////
$defaultGreen:#01FF70;

body{
  background: #000;
  color: $defaultGreen;
  font-family: Courier, monospace;
}


////////////////////////
/*   LAYOUT & STYLE   */
///////////////////////

main{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 1em;
  min-height: 100vh;
  > * {
    @extend %grid-padding;
  }
}
header{
  grid-column: 1 / -1;
  border: 1px solid $defaultGreen;

}

aside#memberlist{
  grid-column: span 1;
  border: 1px solid $defaultGreen;

	ul{
		list-style: none;
		padding-left: 0;
	}
}

section#messages{
  grid-column: 2 / -1;
  border: 1px solid $defaultGreen;
	max-height: 300px;
	overflow: scroll;

	ul{
		list-style: none;
		padding-left: 0;
		li{
  		label{
    		display: inline-block;
    		width: 100%;
  		}
  		p{
    		border-radius: 5px;
    		background: $defaultGreen;
    		color: #000;
    		display: inline-block;
    		@extend %message-padding;    		
    		width: auto;
    		-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 23px 75%, 50px 100%, 40px 75%, 0% 75%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 23px 75%, 50px 100%, 40px 75%, 0% 75%);
  		}
		}
	}
}

section#theme-widget{
  display: inline-block;
  float: right;
  width: 50%;
	text-align: right;
  form{
    display: inline-block;
		margin-right: 15px;
		&:last-of-type{
			margin-right: 0px;
		}
		label{
			margin-right: 3px;
		}
  }
}

//composer section
section#typing{
  grid-column: 1 / -1;
  border: 1px solid $defaultGreen;
	text-align: center;
	#send a{
		margin-left: 5px;
	}
}
#composer{
	padding: 3px;
	min-width: 90%;
	font: 16px Courier, monospace;
}

//emoji section
.react-emoji-selector{
	display: flex;
	flex-wrap: wrap;
	max-height: 150px;
	overflow: scroll;
	margin-top: 10px;
	// @extend %grid-padding;

	input{
		padding: 3px;
		min-width: 100%;
		margin-bottom: 3px;
		font: 16px Courier, monospace;
		background: #000;
		box-sizing: border-box;
	}
}
.react-emoji-selector-show-more button{
	background: none;
}

////////////////////////
/*       COMPONENTS      */
///////////////////////

button{
	background: #333333;
	border: 0;
	color: $defaultGreen;
	padding: 5px 20px;
	font: bold 16px 'Courier New';
}

//scrollbars
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: $defaultGreen;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #000;
}


////////////////////////
/*       MEDIA QUERIES      */
///////////////////////

@media all and (max-width:650px){
	section#typing, section#messages, aside#memberlist{
		grid-column: 1 / -1;
	}

	header{
		text-align: center;
	}

	section#theme-widget {
		float: none;
		width:100%;
		text-align: center;
	}

	section#typing{
		text-align: left;
	}

	.react-emoji-selector input{
		width: 100%;
		margin-top: 20px;
	}
}

footer{
  grid-column: 1 / -1;
  border: 1px solid $defaultGreen;
  text-align: center;
  figure{
    width: 33%;
    display: inline-block;
    margin: 10px;
    @media all and (max-width:650px){
    	width: 100%;
    	display: block;
    }
    img{
      width: 100%;
      height: auto;
      padding-bottom: 15px;
    }
  }
  a.btn{
    display: inline-block;
    border-radius: 5px;
    border: 1px solid $defaultGreen;
    background: transparent;
    color: $defaultGreen;
    width: auto;
    margin: 0 auto;
    @extend %button-padding;
  }
}