$background-color: #8addea;
$primary-gray: #edf1f2;
$white: #fcfcfc;
$header-font: 'Pacifico', cursive;
$body-font: 'Montserrat', sans-serif;
$li_alt_color : darken($primary-gray, 10);
$my-color: blue;
$friend-color: pink;
$font-list: Calibri, Arial, sans-serif;


#message-container {
 background-color: $primary-gray;
}

#member-list {
 background-color: $white;
}

#member-list > ul > li {
 background-color: $white;
 border: solid 1px $primary-gray;
 font-family: $body-font;
 font-size: 20px;
}

#member-list > ul > li:hover {
 background-color: $background-color;
}

// box size reset

*, *:before, *:after {
  box-sizing: border-box;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}


// starting styles
html {
	font-size: 16px;
}

body {
  background: linear-gradient(
                  130deg,
                  $primary-gray,
                  $background-color
  );
  max-height: 100vh;
  font-family: "Arial", sans-serif;
  color: #060606;
  border: 0;
  margin: 0;
}

ul{

  list-style: none;

  li {padding:5px
  }

  li:nth-of-type(2n) {
    background-color: $li_alt_color;
  }
}

.container {
    display: grid;
	grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas:
        "header header"
        "sidebar main"
        "none footer";
    border: black;
}

header {
    grid-area: header;
    background-color: $white;
	color: $background-color;
	text-align: center;
	padding: 1rem;
	border-bottom: 0.3rem solid $primary-gray;

}

header > h1 {
  font-family: $header-font;
  font-size: 36px;
}

nav {
  grid-area: sidebar;
  overflow-y: scroll;
  min-width: 250px;
}

main {
  grid-area: main;
  overflow-y: scroll;
  max-height: 75vh;
}

footer {
  grid-area: footer;
  //background-color: $background-color;
  //color: $primary-gray;
  //text-align: center;
  //grid-area: footer;
  background-color: $white;
  color: $background-color;
  text-align: center;
  padding: 1rem;
  border-top: 0.3rem solid $primary-gray;
}

h2 {
  text-align: center;
  font-family: 'Pacifico', cursive;
}

#body-container {
//  max-height:80vh;
//  overflow-y: auto;
//

}


.chat-item {
	list-style: none;

}

.student-name {
	background-color: $my-color;
	font-size: 2em;
	border-radius: 50%;
	padding: 10px;
}

.friend-name {
	background-color: $friend-color;
	font-size: 2em;
	border-radius: 50%;
	padding: 10px;
}

.timestamp {

}

.message {
	background-color: $my-color;
}

.friend-message {
	background-color: $friend-color;
	text-align: right;
}

button {
	background-color: $white;
	border: 0.3rem outset $primary-gray;
	border-radius: 25px;
	color: $background-color;
	font-weight: 900;
}

input {
	border: 0.3rem inset $primary-gray;
	border-radius: 25px;
}