$background-color: #8addea;
$primary-gray: #edf1f2;
$white: #fcfcfc;
$header-font: 'Pacifico', cursive;
$body-font: 'Montserrat', sans-serif;
$li_alt_color : darken($primary-gray, 10);

body {
  background: linear-gradient(
                  130deg,
                  $primary-gray,
                  $background-color
  );
  max-height: 100vh;
}

#message-container {
  background-color: $primary-gray;
}

#member-list {
  background-color: $white;
}

#member-list > ul > li {
  background-color: $white;
  border: solid 1px $primary-gray;
  font-family: $body-font;
  font-size: 20px;
}

#member-list > ul > li:hover {
  background-color: $background-color;
}

// box size reset

*, *:before, *:after {
  box-sizing: border-box;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}


// starting styles

body {
  background: $background-color;
  font-family: "Arial", sans-serif;
  color: #060606;
}

ul{

  list-style: none;

  li {padding:5px
  }

  li:nth-of-type(2n) {
    background-color: $li_alt_color;
  }
}

.container {
    display: grid;
	grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer";
    border: black;
}

header {
    grid-area: header;
}

nav {
    grid-area: sidebar;
  overflow-y: scroll;
}

main {
    grid-area: main;
  overflow-y: scroll;
}

footer {
    grid-area: footer;
}

//#body-container {
//  max-height:80vh;
//  overflow-y: auto;
//}