.btn {
  border-radius: 4px;
  padding: 10px;
  border-bottom-width: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  &.btn-primary {
    background-color: $primaryColor;    
    border-bottom-color: $secondaryColor;
  }
  &.btn-secondary {    
    background-color: $secondaryColor;
    border-bottom-color: $primaryColor;
  }  
}

