/* Styles for image component */

.photo {
    list-style: none;
    &:hover {
      cursor: pointer;
    }
    img {
      width: $gallery-image-width;
      height: $gallery-image-height;
      border: $gallery-image-border;
    }
    label {
      display: none;
    }
}