img {
	max-width: 100%;
	vertical-align: middle;
	height: 200px;
	width: 100%;
	object-fit: cover;
	filter: grayscale(90%);
	transition: 0.4s;
}
label {display: none;}
li:hover {
	label {
		display: inline-block;
	}
	img {
		filter: none;
		transition: 0.4s;
	}
}
