//NORMALIZE
@import 'normalize';

//GOOGLE FONTS
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700');

//GLOBALS
@import './components/scss/globals';

//COMPONENTS
@import './components/scss/globals';
@import './components/scss/banner';
@import './components/scss/buttons';
@import './components/scss/cards';
@import './components/scss/messages';
