@import 'normalize';

/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Merriweather|Oswald:300,400,600);
@import url(https://use.fontawesome.com/releases/v5.7.2/css/all.css);
$sans-serif: 'Oswald', sans-serif;
$serif: 'Merriweather', serif;

/*COLORS*/
$secondary-color: #e24e4b;
$primary-color: crimson;
$white: #fefefe;
$light-gray:#ebebeb;
$black: #1d1616;

/* MEASUREMENTS */
$gap: 20px;
$break-point: 48em;

html {
    background: $white;
    box-sizing: border-box;
    line-height: 1.5;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $serif;
    color: $black;
    font-weight: 300;
}

img {
    width: 100%
}

.img-card {
    margin: $gap 0;
    display: grid;
    grid-gap: $gap;
    padding: 15px;
    box-shadow: 3px 3px 10px lighten($black, 70%);
    border-radius: 3px;
    width: fit-content;
    max-width: 550px;
    height: fit-content;

    img {
        border-radius: 5px;
        margin-bottom: $gap;
    }

    @media(min-width: $break-point) {
        grid-auto-columns: repeat(2, 1fr);

        img:only-child {
            margin-bottom: 0;
            grid-column: 1 / span 2;
        }

        div {
            grid-column: 2;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }

    &.vertical-card {
        display: block;
    }
}

.vertical-image-card-list {
    list-style: none;
    padding-left: 0;

    @media (min-width: $break-point) {
        grid-gap: $gap;
        display: grid;
        grid-template-columns: repeat(3,  1fr);
    }
}

.box-padding {
    padding: $gap;
}

.dark-mode {
    color: $light-gray;
    background: $black;
}



a {
    font-family: $sans-serif;
    font-weight: bold;
    color: $primary-color;
    text-decoration: none;

    &:hover {
        color: $secondary-color;
    }

    .email-icon {
        background: url('./assets/email.svg');
        background-repeat: no-repeat;
        display: inline-block;
        width: .95rem;
        height: .9rem;
    }

    &.block-link {
        display: block;
        width: fit-content;
        margin: .2rem 0;
    }
}