figure.player {
  width: 150px;  
  position: relative;
  background-color: $primaryColor;
  color: #fff;
  padding: 4px;
  margin: 0;
  img {
    width: 100%;
  }
  .position-number {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: $primaryColor;
    color: #fff;  
  }
}