@mixin progress-support {
	&::-webkit-progress-bar {
		background-color: lighten($primary-color, 10%);
		border-radius: 5px;
	}
	&::-webkit-progress-value {
		background: $progress-repeat;
		border-radius: 5px;
	}
	&::-moz-progress-bar {
		background: $progress-repeat;
		border-radius: 5px;
	}
	&::-ms-fill {
		background: $progress-repeat;
		border-radius: 5px;
		background-color: $accent-color;
	}
}
.progress {
    margin-top: 50px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	height: $dynamic-size * 2;
	border: none;
	background-color: lighten($primary-color, 10%);
	border-radius: 5px;
	@include progress-support;
}
