@import "pattern-library";
$primary-color: rgb(186, 201, 186);

// Style your components here
$transition: width 2s ease;
$shadow3: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
$shadow: inset 0px 1px 1px darken($primary-color, 44%), 0px 1px 0px rgba(255, 255, 255, 0.2);
$shadow-glow: inset 0 1px 1px rgba(0, 0, 0, 0.4), 0 2px 5px 0px darken($primary-color, 44%), /*glow*/ 0 1px 8px white;
$shadow2: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px darken($primary-color, 44%);
$button-radius: 14px;
$text-shadow: 0 0 3px white;

$padding: 20px;
$margin: 10px;

.style-guide {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

#clock {
  .h1 {
    font-size: 13px;
  }
  font-family: "Share Tech Mono", monospace;
  color: #ffffff;
  text-align: center;
  color: lighten($primary-color, 45%);
  background: linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, black 25%, transparent 25%) -50px 0, linear-gradient(315deg, black 25%, transparent 25%),
    linear-gradient(45deg, black 25%, transparent 25%);
  background-size: 1em 1em;
  background-color: darken($primary-color, 65%);
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
  .time {
    letter-spacing: 0.05em;
    font-size: 32px;
  }
  .date {
    letter-spacing: 0.1em;
    font-size: 18px;
  }
}

.example {
  padding: $padding;
  margin-bottom: $margin;
  border: thin solid;

  //////////////
  progress::-webkit-progress-value {
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
  }
  progress::-moz-progress-bar {
    border-radius: $button-radius;
    background: #fff;
    box-shadow: $shadow-glow;
  }
  /* webkit */
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    progress {
      height: 1.3em;
    }
  }
  progress::-webkit-progress-bar {
    background: transparent;
  }

  progress::-webkit-progress-value {
    border-radius: $button-radius;
    background: #fff;
    box-shadow: $shadow;
    animation: pulse-progress 2s infinite;
    &:hover {
      background: lighten($primary-color, 45%);
      color: #fff;
      transition: 0.3s;
      box-shadow: $shadow-glow;
    }
  }

  .button {
    width: 100px;
    margin: 2em auto;
    padding: 4px;
    border: 0 none;
    background: #fff;
    border-radius: 14px;
    box-shadow: $shadow2;
    animation: pulse 2s infinite;
    &:hover {
      background: darken($primary-color, 5%);
      color: #fff;
      transition: 0.3s;
      box-shadow: $shadow3;
      text-shadow: $text-shadow;
      animation: none;
    }
  }

  @keyframes pulse-progress {
    0% {
    }
    50% {
      background: lighten($primary-color, 29%);
    }
    100% {
    }
  }
  @keyframes pulse {
    0% {
    }
    50% {
      background: lighten($primary-color, 29%);
      color: darken($primary-color, 65%);
      box-shadow: $shadow3;
      text-shadow: $text-shadow;
    }
    100% {
    }
  }

  /////////////////

  &:last-child {
    margin-bottom: 0;
  }

  .example--rendered {
    padding: $padding;
    margin-bottom: $margin;
    border: thin dotted #ccc;
  }

  .example--toggles {
    margin-bottom: $margin;

    .active {
      background: pink;
    }
  }

  .example--code {
    padding: $padding;
    background: #333;
    border: thin dotted #ccc;
    color: #fff;
  }
  code {
    display: inline-block;
    max-width: 100%;
    white-space: normal;
    overflow-wrap: anywhere;
  
    color:#ccc;
  }
}

progress {
  display: block; /* default: inline-block */
  width: 45%; //width
  margin: auto; // center
  padding: 4px; //inner bar
  border: 0 none;
  background: darken($primary-color, 34%); //bar color
  border-radius: $button-radius; //rounded
  box-shadow: $shadow;
}

.example-container {
  background: hsla(0, 0, 100%, 0.8);
  margin-top: 7vh;
  padding: 5vh 2vh;
  box-shadow: 1px 1px 2px 1px hsla(0, 0%, 0%, 0.4);
  text-align: center;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-family: "Permanent Marker", sans-serif;
}

$color-3: rgb(206, 215, 196);
$color-3-t: transparentize($color-3, 1);

$color-4: $primary-color;
$color-4-t: transparentize($color-4, 1);

$size: 2.8em;
$size-half: $size/2;
$begin: $size/9.53;
$step: $size/18;
$space: $size/8.4;
$step-s: $step/1.5;

$step-b: $space;
$step-e: $space + $step;
$step-b-2: $space * 2 + $step;
$step-e-2: $space * 2 + $step * 2;
$step-b-3: $space * 3 + $step * 2;
$step-e-3: $space * 3 + $step * 3;

$small-b: ($space * 3 + $step)/2;
$small-e: $small-b + $step;
$small-b-2: $small-b + $step + $space;
$small-e-2: $small-b + $step * 2 + $space;

$small-c: $size + $space - $step/1.9;
$bgcolor: $color-4;

html {
  height: 100%;
}

body {
  background: radial-gradient(
        circle at right,
        $color-3-t $step-b,
        $color-3 $step-b,
        $color-3 $step-e,
        $color-3-t $step-e,
        $color-3-t $step-b-2,
        $color-3 $step-b-2,
        $color-3 $step-e-2,
        $color-3-t $step-e-2,
        $color-3-t $step-b-3,
        $color-3 $step-b-3,
        $color-3 $step-e-3,
        $color-3-t $step-e-3
      )
      0 0,
    radial-gradient(
        circle at left,
        $color-3-t $small-b,
        $color-3 $small-b,
        $color-3 $small-e,
        $color-3-t $small-e,
        $color-3-t $small-b-2,
        $color-3 $small-b-2,
        $color-3 $small-e-2,
        $color-3-t $small-e-2
      )
      0 $small-c,
    linear-gradient(to right top, $color-3 $step, $color-3-t $step) $small-e-2 $step,
    linear-gradient(to left top, $color-3 $step, $color-3-t $step) $small-e-2 $step,
    linear-gradient(to right bottom, $color-3 $step, $color-3-t $step) $small-e-2 $step,
    linear-gradient(to left bottom, $color-3 $step, $color-3-t $step) $small-e-2 $step;
  background-size: $size $size;
  background-color: $bgcolor;
}
