@import 'pattern-library';

$padding: 20px;
$margin: 10px;

$default-font-family: "Roboto", san-serif;


$button-primary-background-color: blue;
$button-success-background-color: green;
$button-warning-background-color: orange;

$button-primary-background-hover-color: darken($button-primary-background-color, 20%);
$button-success-background-hover-color: darken($button-success-background-color, 20%);
$button-warning-background-hover-color: darken($button-warning-background-color, 20%);

$button-primary-font-color: white;
$button-success-font-color: white;
$button-warning-font-color: white;

$faq_question-font-size-large: 24px;
$faq_question-font-size-small: 16 px;
$faq_answer-font-size-large: 24px;
$faq_answer-font-size-small: 16px;
$faq_question-font-color-1: crimson;
$faq_question-font-color-2: darken($faq_question-font-color-1, 30%);
$faq_answer-font-color-1: darken(rgba(150, 143, 179, 1), 40%);
$faq_answer-font-color-2: darken($faq_answer-font-color-1, 30%);
$faq_answer-margin-bottom: 15px;

$menu-font-color-1: white;
$menu-background-color-1: #33cc33;
$menu-background-hover-color-1: darken($menu-background-color-1, 10%);
$menu-item-font-size-1: 20px;


$menu-font-color-2: white;
$menu-hover-font-color-2: blue;
$menu-background-color-2: #4274c4;
$menu-background-hover-color-2: darken($menu-background-color-2, 10%);
$menu-item-font-size-2: 20px;

$menu-font-color-3: black;
$menu-hover-font-color-3: white;
$menu-background-color-3: #f1f1f1;
$menu-background-hover-color-3: darken($menu-background-color-3, 20%);
$menu-item-font-size-3: 20px;

$slider-default-background-color: #d3d3d3;
$slider-thumb-default-color: #4CAF50;

$slider-size-small: 10px;
$slider-size-medium: 20px;
$slider-size-large: 30px;
$slider-size-extra-large: 40px;

$slider-thumb-size-small: 10px;
$slider-thumb-size-medium: 20px;
$slider-thumb-size-large: 30px;
$slider-thumb-size-extra-large: 40px;

$slider-border-radius: 5px;
$slider-border-radius-pct: 50%;

$combined-example-font-family: cursive;
$combined-example-text-block-font-size: 18px;

.style-guide {
	width: 90%;
	max-width: 1280px;
	margin: 0 auto;
}

.example {
	width: 100%;
	padding: $padding;
	margin-bottom: $margin;
	border: thin solid;

	&:last-child {
		margin-bottom: 0;
	}

	.example--rendered {
		padding: $padding;
		margin-bottom: $margin;
		border: thin dotted #ccc;
	}

	.example--toggles {
		margin-bottom: $margin;

		.active {
			background: pink;
		}
	}

	.example--code {
		padding: $padding;
		background: #eee;
		border: thin dotted #ccc;
		overflow-wrap: break-word;
		word-break: break-word;
		word-wrap: break-word;
	}
}

		.mycode {
			display: block;
			width: 50%;
			overflow-wrap: break-word;
			word-wrap: break-word;
			hyphens: auto;	
			background: pink;
		}

.button-std {
	display: block;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	width: 100px;
}

.button-width-narrow {
	width: 50px;
}

.button-width-normal {
	width: 100px;
}

.button-width-wide {
	width: 200px;
}

.button-center {
	margin-right: auto;
	margin-left: auto;
}

.button-primary {
	background-color: $button-primary-background-color;
	color: $button-primary-font-color;

	&:hover {
      background-color: $button-primary-background-hover-color;
    }
}

.button-success {
	background-color: $button-success-background-color;
	color: $button-success-font-color;

	&:hover {
      background-color: $button-success-background-hover-color;
    }
}

.button-warning {
	background-color: $button-warning-background-color;
	color: $button-warning-font-color;

	&:hover {
      background-color: $button-warning-background-hover-color;
    }
}

.faq_question1 {
  font-family: $default-font-family;
  font-size: $faq_question-font-size-large;
  color: $faq_question-font-color-1;
  text-align: center;
}

.faq_answer1 {
  font-family: $default-font-family;
  font-size: $faq_answer-font-size-small;
  color: $faq_answer-font-color-1;
  text-align: center;
  margin-bottom: $faq_answer-margin-bottom;
}

.text-block1 {
	font-family: $default-font-family;
}

.text-block2 {
	font-family: monospace;
	background-color: black;
	color: white;
	padding: 10px;
}

.menu-item1 {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: $menu-background-color-1;
    }

    li {
      float: left;
      font-size: $menu-item-font-size-1;
    }

    li a {
      display: block;
      color: $menu-font-color-1;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: $menu-background-hover-color-1;
    }
}

.menu-item2 {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: $menu-background-color-2;
    }

    li {
      float: left;
      font-size: $menu-item-font-size-2;
    }

    li a {
      display: block;
      color: $menu-font-color-2;
      text-align: center;
      padding: 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: $menu-background-hover-color-2;
    }
}


.menu-item3 {
	ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  width: 200px;
	  background-color: $menu-background-color-3;
	}

	li {
      font-size: $menu-item-font-size-3;
    }

	li a {
	  display: block;
	  color: $menu-font-color-3;
	  padding: 8px 16px;
	  text-decoration: none;
	}

	/* Change the link color on hover */
	li a:hover {
	  background-color: $menu-background-hover-color-3;
	  color: $menu-hover-font-color-3;
	}
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: $slider-default-background-color;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: $slider-thumb-default-color;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: $slider-thumb-default-color;
  cursor: pointer;
}

.slider-thumb-small::-webkit-slider-thumb {
	width: $slider-thumb-size-small;
	height: $slider-thumb-size-small;
}

.slider-thumb-small::-moz-range-thumb {
  	width: $slider-thumb-size-small;
  	height: $slider-thumb-size-small;
}

.slider-thumb-medium::-webkit-slider-thumb {
	width: $slider-thumb-size-medium;
	height: $slider-thumb-size-medium;
}

.slider-thumb-medium::-moz-range-thumb {
	width: $slider-thumb-size-medium;
	height: $slider-thumb-size-medium;
}

.slider-thumb-large::-webkit-slider-thumb {
	width: $slider-thumb-size-large;
	height: $slider-thumb-size-large;
}

.slider-thumb-large::-moz-range-thumb {
  	width: $slider-thumb-size-large;
  	height: $slider-thumb-size-large;
}

.slider-thumb-extra-large::-webkit-slider-thumb {
	width: $slider-thumb-size-extra-large;
	height: $slider-thumb-size-extra-large;
}

.slider-thumb-extra-large::-moz-range-thumb {
	width: $slider-thumb-size-extra-large;
	height: $slider-thumb-size-extra-large;
}

.slider-thumb-primary::-webkit-slider-thumb {
	background: blue;
}

.slider-thumb-primary::-moz-range-thumb {
	background: blue;
}

.slider-thumb-secondary::-webkit-slider-thumb {
	background: orange;
}

.slider-thumb-secondary::-moz-range-thumb {
	background: orange;
}

.slider-bar-size-small {
	height: $slider-size-small;
}

.slider-bar-size-medium {
	height: $slider-size-medium;
}

.slider-bar-size-large {
	height: $slider-size-large;
}

.slider-bar-size-extra-large {
	height: $slider-size-extra-large;
}

.slider-round {
  border-radius: $slider-border-radius;   
}

.slider-round::-webkit-slider-thumb {
  border-radius: $slider-border-radius-pct; 
}

.slider-round::-moz-range-thumb {
  border-radius: $slider-border-radius-pct;
}

.combined-example {
	font-family: $combined-example-font-family;
}

.example-text-block {
	font-family: $combined-example-font-family;
	font-size: $combined-example-text-block-font-size;
}