@import 'pattern-library';
@import url('https://fonts.googleapis.com/css?family=Roboto');

$padding: 20px;
$margin: 10px;
$font: 'Roboto medium', sans-serif;


.style-guide {
	width: 90%;
	max-width: 1024px;
	margin: 0 auto;
	font-family: $font;
}

.example {
	padding: $padding;
	margin-bottom: $margin;
	border: thin solid;

	&:last-child {
		margin-bottom: 0;
	}

	.example--rendered {
		padding: $padding;
		margin-bottom: $margin;
		border: thin dotted #ccc;
	}

	.example--toggles {
		margin-bottom: $margin;

		.active {
			background: pink;
		}
	}

	.example--code {
		padding: $padding;
		background: #eee;
		border: thin dotted #ccc;
	}
}
