

body {
  font-family: arial, helvetica, sans-serif;
}

button {
  border-radius: 10px;
  outline: 0;
  font-weight: bold;
}

.day-view {
    background-color: yellow;
    color: black;
}

.day-view button {
  color: blue;
}

.night-view {
    background-color: black;
    color: red;
}

.night-view button {
  color: maroon;
}


.toggle-sans-serif {
   font-family: arial, helvetica, sans-serif;
}

.toggle-serif {
   font-family: "Times New Roman", Times, serif;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}