@import url("https://fonts.googleapis.com/css?family=Rubik");
$text-sans: "Rubik", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;

html {
	font-family: $text-sans;
	line-height: 1.2;
}
