%button {
	background-color: $button-background;
	border: 1px solid $primary-color;
	border-radius: 5px;
	box-shadow: 1px 1px, -1px -1px;
	color: $button-color;
	margin: 0;
	padding: 5px;
	transition: box-shadow 0.2s ease;
	width: auto;

	&:focus,
	&:hover {
		@extend %button-hocus;
	}

	&:active {
		border: 1px solid $primary-color;
		// box-shadow: unset;
		box-shadow: 1px 1px transparent, -1px -1px transparent;
		color: initial;
	}
}