

.completedFilesItem {
	list-style: none;
	margin-right: 1rem;
	max-width: 960px;

	.cf-item-name {
		display: block;
		margin-bottom: .5rem;
	}

	.cf-item-img {
		object-fit: contain;
		width: 100%;
	}
}