
.completedFiles {
	.cf-ul {
		display: flex;
		flex-wrap: wrap;
		padding: 0px;
	}

	.images-uploaded {
		font-weight: bold;

		.completedFiles-value {
			background-color: $completedFiles-value-background;
			border: 2px solid $completedFiles-value-border;
			color: $completedFiles-value-color;
			border-radius: $radii;
			display: inline-block;
			font-weight: normal;
			min-width: 3ch;
			text-align: right;
		}
	}
}