.pendingFiles {
	li {
		list-style: none;
	}

	progress {
		background-color: $button-color;
		border: 1px solid $button-background;
		border-top: transparent;
		border-left: transparent;
		height: $progress-height;
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 60%);
	}

	@supports (-webkit-appearance: none) {
		progress {
			-webkit-appearance: none;
		}

		progress::-webkit-progress-bar {
			background-color: $button-color;
		}
		progress::-webkit-progress-value {
			background-color: $progress-color;
		}
	}

	progress::-moz-progress-bar {
		background-color: $progress-color;
	}

	progress::-ms-fill {
		background-color: $progress-color;
	}
}
