@import "../../global-styles";

.messages {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
    'header'    
    'history'
    'input';

    h2 {
        grid-area: header;
        font-weight: 300;
        font-size: 1.25rem;
        color: $primary-color;
    }

    label {
        color: $primary-color;
        font-weight: 90;
        font-size: .5rem;
    }

    p {
        color: $foreground-color;
        font-weight: 100;
        font-size: .8rem;
    }
}

.history {
    grid-area: history;
}

.input {
    grid-area: input;
}

