.tag{
	font: 400 11px 'Source Sans Pro';
	letter-spacing: .2em;
	text-transform: uppercase;
	color: $white;
	background: $primary;
	padding: 10px 20px;
	border-radius:30px;
	text-align: center;
	margin-right: 10px;

	&.featured{
		background: $secondary;
	}

	&.new{
		background: $alert;
	}
}
