//colors ----------------------------
$base-color:rgba(12, 12, 12, 1);
$header-text-color:rgba(200, 200, 200, 1);
$accent-color-1:hsla(95, 47%, 59%, 1);

//fonts ------------------------------
$font-family-body:"Roboto", sans-serif;

%button {
	font-size: 1.3rem;
	font-family:$font-family-body;
	background:$base-color;
	color:$accent-color-1;	
	border:1px solid $accent-color-1;
	border-radius: 2px;
	padding: 0.6em 1.2em;
	cursor:pointer;
	transition:all 0.3s ease;
	&:active, &:hover, &:focus {
		color: $header-text-color;
    	border-color: adjust-hue($accent-color-1, 45deg);    
		box-shadow:0 0 0.8em adjust-hue($accent-color-1, 45deg);  	
  }	
}

.default-button{
	@extend %button;
	&:active, &:hover, &:focus {
		color: $header-text-color;
    	border-color: blue;    
		box-shadow:0 0 0.8em adjust-hue($accent-color-1, 45deg);  	
  }	
}