@import '../support/vars';

.card {
  border-radius: 0px 30px 0px 30px;
  padding: $padding;
  width: $card-width;
  min-height: $card-height;
  background: #fafafa;

  h2 {
    color: darken($primary-color, 15%);
    border-bottom: dotted $primary-color;
  }

  img {
    border-radius: 200px;
  }

  &.kitten {
    background: lighten($blue-accent, 15%);
  }

  &.bear {
    background: lighten($pink-accent, 5%);
  }
}
