@import "../../global-styles";

.members {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    'header'    
    'members-list';

    h2 {
        grid-area: header;
        font-weight: 300;
        font-size: 1.25rem;
        color: $primary-color;
    }
}

.members-list {
    grid-area: members-list;
}