@import "./defs";

@mixin progress-fill() {
	border-radius: 4px;
  background: $highlight-color;
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3); 
}

/* inspired/modified from https://codepen.io/CreativeJuiz/pen/DKsjm */
progress {
  display: block;
  height: 25px;
  width: 210px;
  margin: 2em auto;
  padding: 3.33px;
  border: 0 none;
  background: $primary-color;
  border-radius: 6px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

progress::-moz-progress-bar { 
	@include progress-fill();
}
progress::-ms-fill {  
	@include progress-fill();
}
progress::-webkit-progress-value {  
	@include progress-fill();
}
progress::-webkit-progress-bar {
    background: transparent;
}  