@import '../design-patterns/pattern-library';
body {
    background: #fbfff3;
    font-family: "Arial", sans-serif;
    color: #111;
    background-color: red;
}


/*End of global styles & libaries*/

.module0-container {
    max-width: 700px;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 200px;
    height: 100%;
    height: 100vh;
}

.main-heading {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 3.4rem;
    line-height: 1;
}

.success {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 1.4rem;
    line-height: 1;
    display: block;
    text-align: center;
    border-top: 2px dashed black;
    padding-top: 20px;
}

.failure {
    text-align: center;
    color: hsla(-35, 72%, 35%, 1);
    border-top: 2px dashed hsla(-35, 72%, 35%, 1);
    padding-top: 20px;
}

.main-message {
    margin-bottom: 2rem;
}

.submission-section {
    line-height: 1.5rem;
    margin-top: 100px;
    margin-top: 15vh;
    align-self: flex-start;
    padding: 20px 40px;
    background: hsla(177, 100%, 30%, .27);
    position: relative;
    box-shadow: 41px 14px 0px -2px hsla(220, 100%, 27%, .37);
}

.submission-section:after {
    content: '';
    position: absolute;
    background: hsla(95, 100%, 68%, .37);
    height: 106%;
    left: -31px;
    width: 101%;
    top: 19px;
    z-index: -1;
}

.button-block {
    display: block;
    text-align: right;
}

.call-to-action {
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem .5rem;
    background: hsla(0, 100%, 100%, .6);
    transition: background-color .23s ease;
    border: 2px solid #111;
    box-shadow: 4px 4px 0px -2px hsla(220, 100%, 27%, .35);
    font-weight: 600;
}

.call-to-action[disabled] {
    opacity: .3;
    position: relative;
    cursor: not-allowed;
}

.call-to-action[disabled]:after {
    content: '✅';
    position: absolute;
    top: 0;
    left: 0;
}

.call-to-action:hover,
.call-to-action:active,
.call-to-action:focus {
    background: hsla(0, 100%, 100%, .9);
}

a {
    color: #ddd;
}

.footer {
    color: #ddd;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-row-start: -2;
    align-self: end;
}