/* Styles for progressbar component */



@supports (display: grid) {
	.progressbar-component {
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr;
	  grid-template-rows: auto;
	  text-align: $progress-text-align;
	  border: 2px solid goldenrod;

	  h2 {
	    //visibility: hidden;
	    padding: 2rem;

	font-size: $uploader-size;
	text-transform: $uploader-case;
	letter-spacing: $uploader-spacing;
	min-width: $uploader-width;
	color: $primary-color;
	padding: $uploader-padding;
	border: 2px dotted pink;

	  }

	  ul {
	  	padding-left: 0rem;
	  }

	  ul li {
	    padding: 2rem;
	    display: flex;
	    justify-content: center;
	    border: 2px dotted green;
	  }
	}

	.label {
	  display: none;
	}
}

progress {
	-webkit-appearance: none; /* resets the default appearance */
	-moz-appearance: none;
	appearance: none;
	border: none; /* gets rid of default border in Firefox. */
	width: $progress-width;
	height: $progress-height;

	&::-webkit-progress-bar {
		background-color: $secondary-color;
		//border: $secondary-border;
		//border-radius: $progress-radius;
		@include progress-shadow;
	}

	&::-webkit-progress-value {
		background-color: $tertiary-color;
		&:hover {
			background-color: $tertiary-hover-color;
		}
	}

	&::-moz-progress-bar {
		background-color: $tertiary-color;
		@include progress-shadow;
		&:hover {
			background-color: $tertiary-hover-color;
		}
	}

	&::-ms-fill {
		background-color: $tertiary-color;
		@include progress-shadow;
		&:hover {
			background-color: $tertiary-hover-color;
		}
	}
}
