progress {
	-webkit-appearance: none; /* resets the default appearance */
	-moz-appearance: none;
	appearance: none;
	border: none; /* gets rid of default border in Firefox. */
	width: $progress-width;
	height: $progress-height;

	&::-webkit-progress-bar {
		background-color: $secondary-color;
		border-radius: $progress-radius;
		@include progress-shadow;
	}

	&::-webkit-progress-value {
		background-color: $tertiary-color;
		&:hover {
			background-color: $tertiary-hover-color;
		}
	}

	&::-moz-progress-bar {
		background-color: $tertiary-color;
		@include progress-shadow;
		&:hover {
			background-color: $tertiary-hover-color;
		}
	}

	&::-ms-fill {
		background-color: $tertiary-color;
		@include progress-shadow;
		&:hover {
			background-color: $tertiary-hover-color;
		}
	}
}