// Variables
$brand-color: darkblue;
$brand-section-color: white;
$brand-text-color: #222;

$react-accent: #61dafb;
$react-background: #292c34;

$breakpoint: 768px;
$font-heading: 'Permanent Marker', sans-serif;
$font-default: 'Oswald', sans-serif;

body {
	font-family: $font-default;
	margin: 10vh 10vw;
	color: $react-accent;
	background: $react-background;
}

.grid-container {
	border: 2px dashed goldenrod;
	display: grid;
	grid-template-columns: 250px 1fr 250px;
	padding: 10px;
	height: 100vh;
    grid-gap: 30px;
}

.grid-container>.main:nth-child(1) {
	grid-column: span 2;

}

.main {
	background: darken($react-background, 7);
	padding: 10px;
}

.sidebar {
	background: lighten($react-background, 7);
	padding: 10px;
}

button {
	border: none;
	background: $react-accent;
	font-family: $font-default;
	padding: 20px;
	border-radius: 0;
	cursor: pointer;
	transition: .4s ease;
	
	&:hover, &:active, &:focus {
		background: adjust-hue($react-accent, 210);
	}
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: inherit;
}

.error {
	color: red;
}

.image {
	color: green;
	
}

.photograph {
    padding: 15px;
    background-color: white;
    -webkit-box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 5px rgba(0,0,0,0.75);
}

.portrait {
    height: 400px;
    position: relative;
    top: 50px;
    left: 90px;
}

.landscape {
    width: 400px;
    position: relative;
    left: 25px;
}

