@import '../design-patterns/_normalize';

$primary-color: rgba(150, 143, 179, 1);

$main-color: #0055ff;

$background-color: rgb(141, 168, 232);


body {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

#app {
	padding: 1.0em 1.0em;
}

aside {
  grid-area: sidebar;
}

main {
  grid-area: main;
}

header {
  grid-area: header;
}

footer {
	grid-area: footer;
}

aside.box {
	padding: 0 20px;
}

.wrapper {
 	display: grid;
  	grid-gap: 10px;
  	grid-template-columns: minmax(100px, 200px) 1fr  1fr;
  	grid-template-areas:
    "header header header"
	"main main sidebar"
    "footer footer footer";
}

.box {
  background-color: $background-color;
  color: #fff; 
  color: #000;
  border-radius: 5px;
  border: 2px solid gray;
  padding: 20px;
}

header.box, footer.box {
/*  background-color: #999; */
}

ul {
	list-style-type: none;
}

header.box > div > ul {
	margin: 0;
	padding: 0;
}

aside.box > div > ul {
	margin: 0 -2.5em;
	padding: 0 0;
}

figure {
	background-color: rgb(234, 240, 255);
  	border: 1px solid gray;
    padding: 5px;
    margin-bottom: 15px;
    font-size: 1.0em;
}

figcaption {
	font-size: 0.65em;
}

main > div > h3 {
	margin-top: 10px;
}

main > div > figure {
	margin-right: 0;
	margin-left: 0;
}

button {
	color: #fff;
	background: $main-color;
	overflow: hidden;
	padding: 12px 12px;
	text-align: center;
	border: 0 none;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
	
	&:active {
		background: lighten($main-color, 10%);
	}
}

main > div > figure > div.button_wrapper {
	height: 28px;
}

main > div > figure > div > button {
	font-size: 0.80em;
	padding: 8px 8px;
	float: right;
}

ul > li > figure > div.button_wrapper {
	height: 20px;
}

ul > li > figure > div > button {
    font-size: 0.6em;
    padding: 5px;
    float: right;
}

.uploader {
	margin-left: 10px;
	font-size: 16px;
  font-family: Arial, Helvetica,  sans-serif;
    font-weight: 800;
}

h1.uploader_title {
	font-size: 1em;
	margin-top: 40px;
}

.uploader-input {
	/* color: transparent; */
	outline: none;
		padding: 12px 12px;

	&::-webkit-file-upload-button {
		visibility: hidden;
		outline: none;
	}

	&::before {
		font-family: sans-serif;
		content: "Select file";
		color: #fff;
		display: inline-block;
		background: #0055ff;
		border: 1px solid #999;
		border-radius: 3px;
		padding: 10px 10px;
		outline: none;
		white-space: nowrap;
		-webkit-user-select: none;
		cursor: pointer;
		font-weight: 500;
		font-size: 16px;
	}
}

progress {
	color: $main-color;
	font-size: 0.6em;
	line-height: 1.5em;
	text-indent: 0.5em;
	width: 15em;
	height: 1.8em;
	border: 1px solid $main-color;
	background: #fff;
	
	// Chrome and Safari
	&::-webkit-progress-bar {
		background: #fff;
	}
	&::-webkit-progress-value {
		background: $main-color;
	}
	
	// Firefox
	&::-moz-progress-bar {
		background: $main-color;
	}
}