@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import '../design-patterns/pattern-library';

body {
  background: #fbfff3;
  font-family: "Arial", sans-serif;
  color: #111;
}

/*End of global styles & libaries*/










/* Polaroid Challenge */

