$primary-color: rgba(150, 143, 179, 1);

$font: 'Permanent Marker', sans-serif;

$input-color: hotpink;

button {
	display: inline-block;
	position: relative;
	padding: 25px 25px;
	top: 0;
	font-size: 25px;
	font-family: "Open Sans", Helvetica;
	border-radius: 4px;
	background: $primary-color;
	color: #fff;
	box-shadow: 0px 0px 0px rgba(15, 165, 60, 0.1);

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);

	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

button:hover {
	top: -10px;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);

	-webkit-transform: rotateX(20deg);
	-moz-transform: rotateX(20deg);
	-ms-transform: rotateX(20deg);
	transform: rotateX(20deg);
}

progress[value] {
	-webkit-appearance: none;

	width: 250px;
	height: 15px;
	color: $input-color;
}

progress[value]::-webkit-progress-bar {
	color: $input-color;
	background-color: $primary-color;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-form {
	font-size: 1em;
	font-weight: 500;
	color: $input-color;
	background-color: lavender;
	padding: 1em;
}

.file-form:hover {
	background-color: $primary-color;
}

.uploader {
	font-size: 1.25em;
	font-weight: 500;
	color: $input-color;
}

.uploader-input {
	font-size: 1.25em;
	font-weight: 500;
	color: $input-color;
}

body {
	background: crimson;
	padding: 30px;
	background: linear-gradient(
		to bottom,
		rgba(150, 143, 179, 1) 0%,
		crimson 100%
	);
	min-height: 100vh;
}


.header {
	margin-top: 0;
	font-family: "Permanent Marker", sans-serif;
}

$fun-color1: #fff0f5;
$primary-accent: #003366;
$primary-row-gap: 15px;


h1,
h2 {
	text-align: center;
	color: $primary-accent;
}

h1 {
	border-bottom: 1px solid $fun-color1;
	padding: 10px;
}

.container {
	margin: auto;
	background: white;
	padding: 20px 30px;
	margin-top: 50px;
	border-radius: 30px 0 /30px 60px;
	box-shadow: 0px 1px 2px 1px darken($fun-color1, 7);
}


.polaroid-grid3 {
	margin-bottom: 50px;
	@supports (display: grid) {
		display: grid;
		grid-template-columns: 4fr 4fr 4fr;
		grid-row-gap: $primary-row-gap;
		grid-column-gap: 50px;
	}
}

.polaroid-caption {
	padding: 10px 0;
	color: $primary-accent;
}

.polaroid {
	margin: 10px auto;
	background-color: hsl(0, 1, 90%);
	box-shadow: 1px 2px 3px 1px hsla(0, 0, 10%, 0.5);
	padding: 20px 20px 40px 20px;
	max-width: 300px;

	&.grayscale img {
		filter: grayscale(89%);
	}

	&.saturated img {
		filter: saturate(190%);
	}

	&.blur img {
		filter: blur(2px);
	}

	&.hue-rotate img {
		filter: hue-rotate(280deg);
	}

	&.brightness img {
		filter: brightness(190%);
	}

	img {
		width: 100%;
	}
}


$List-color: papayawhip;
$List-accent: lightseagreen;

.listcontainer {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px 30px;
  margin-top: 50px;
  border-radius: 30px 0 /30px 60px;
  box-shadow: 0px 1px 2px 1px darken($List-color, 7);
}




.ListItmens{
 li:nth-child(1n) {
    padding: 13px;
  }

 li:last-child {
    padding: 0px;
  }

   li:nth-child(even) {
    background-color: $List-color;
  }

 li:nth-child(3n) {
    list-style: square;
  }

 li:nth-child(0n+5) {
    color: orange;
  }
 li:nth-child(0n+1) {
    color: $List-accent;
  }

li:nth-child(6):hover + li {
    color:white;
    background-color:$List-accent;
  
  }
  
 li:nth-child(2n+1) {
  
  &:hover{
    color:white;
    background-color:$List-accent;
      } }


