.about {
  word-wrap: break-word;
  display: block;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Trebuchet MS", Verdana, san-serif;
  font-size: 1.5em;
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
