
.image-card {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: auto;
  cursor: pointer;
  background-color: grey;

  &:hover {
    background: darken(rgb(89, 150, 211), 10%);
  }
  border-radius: 10px;
}

.img-key {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;

  height: auto;
  align-items: center;
  background-color: grey;
  border-radius: 10px;
  // overflow-x: auto;
}
.img-name {
  word-wrap: break-word;
  display: block;
  border-radius: 10px;
}
