*, *::before, *::after {
    box-sizing: border-box;
}

body {
    @import url('https://fonts.googleapis.com/css?family=Luckiest+Guy%7CRoboto');
    font-family: Roboto, sans-serif;
    background: repeating-linear-gradient(to bottom right,
        Salmon 3%,
        pink 7%,
        red 10%
    );

    .chat-header {
        font-family: "Luckiest Guy", cursive;
    }
}

.chat-grid {
    height: 95%;
    margin: 30px;
    padding: 15px;
    background: white;
    box-shadow: 0 0 2px 1px;
    border-radius: 25px;
}

.self {
  color: red;
}
