.chat-grid {
    display: grid;
    grid-template-areas:
        'title title title'
        'members messages adspace'
        'members input adspace';
    grid-template-columns: 2.5fr 6fr 1.5fr;
    grid-template-rows: 50px 80% 50px;
    grid-gap: 10px;

    .chat-header {
        grid-area: title;
    }

    .chat-messages {
        grid-area: messages;
        overflow-x: hidden;
    }

    .chat-members {
        grid-area: members;
    }

    .chat-form {
        grid-area: input;
        overflow-x: hidden;
    }

    .chat-adspace {
        grid-area: adspace;
    }
}
