.chat-grid {
    display: grid;
    grid-template-areas:
        'title title'
        'members messages'
        'members input';
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 50px 80% 50px;
    grid-gap: 10px;

    .chat-header {
        grid-area: title;
    }

    .chat-messages {
        grid-area: messages;
        overflow-x: hidden;
    }

    .chat-members {
        grid-area: members;
    }

    .chat-form {
        grid-area: input;
        overflow-x: hidden;
    }
}
